*.log
.DS_Store
.env
.env.backup
.env.production
.phpunit.result.cache
/.idea
/.vscode
/app/vendor
/app/node_modules
/app/storage/logs/*
/app/storage/framework/cache/*
/app/storage/framework/sessions/*
/app/storage/framework/views/*
!/app/storage/framework/cache/.gitkeep
!/app/storage/framework/sessions/.gitkeep
!/app/storage/framework/views/.gitkeep
Thumbs.db
